@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root{
    --fondo: #ff2c3f;
    --figura: #1E1E24;
}

body {
    font-family: 'Libre Baskerville', serif;
    background: var(--fondo);
    color: var(--figura);
}

body.portada{
    background:var(--fondo) url('images/cordelia.jpg') right bottom no-repeat;
    background-size:auto 40%;
}
a {
    font-weight: bold;
    color: rgba(50, 64, 79, 0.5);
    text-decoration: none;
}
a:hover {
    color: rgba(255, 255, 255, 0.75);
}
:hover{
    transition: all ease .5s;
}
div.container {
    width: 80vw;
    margin: 0 auto;
}
.active {
    text-decoration: underline;
    color: white;
}
main div#mapa{
    margin:1%;
    width:98%;
    height:60vh;
}
main canvas#grafico{
    background:#cc9da4;
}
